.root-question-modal{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 2.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 60%;
}

.row-div-wrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}